	<br/>
	<br/>
	<div class="row">
		<div class="span12">
			<h4><%= @profile.quote %></h4>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="span12">
			<img src="http://placehold.it/1200x300" alt="" />
		</div>
	</div>
	<br/>
	<div class="span6">
		<p><%= @profile.statement %></p>
	</div>
	<div class="span5">
<div class="accordion" id="myaccordion">
                            
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#first">
                                        Section One
                                    </a>
                                </div>
                                
                                <div id="first" class="accordion-body collapse in">
                                    <div class="accordion-inner">
                                        Pellentesque faucibus mollis tortor in blandit. Nam ornare tempus eleifend. Nunc sit amet tortor sit amet dolor consectetur mollis. Praesent ut urna sed magna pellentesque hendrerit. Nam congue dolor ac nisi porttitor quis pretium purus blandit. Morbi mattis aliquet orci, nec aliquet risus fringilla non. Proin ac nunc sapien, et gravida enim. Mauris tempor tellus id leo malesuada interdum.
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#second">
                                        Section Two
                                    </a>
                                </div>
                                
                                <div id="second" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        Pellentesque faucibus mollis tortor in blandit. Nam ornare tempus eleifend. Nunc sit amet tortor sit amet dolor consectetur mollis. Praesent ut urna sed magna pellentesque hendrerit. Nam congue dolor ac nisi porttitor quis pretium purus blandit. Morbi mattis aliquet orci, nec aliquet risus fringilla non. Proin ac nunc sapien, et gravida enim. Mauris tempor tellus id leo malesuada interdum.
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#third">
                                        Section Third
                                    </a>
                                </div>
                                
                                <div id="third" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        Pellentesque faucibus mollis tortor in blandit. Nam ornare tempus eleifend. Nunc sit amet tortor sit amet dolor consectetur mollis. Praesent ut urna sed magna pellentesque hendrerit. Nam congue dolor ac nisi porttitor quis pretium purus blandit. Morbi mattis aliquet orci, nec aliquet risus fringilla non. Proin ac nunc sapien, et gravida enim. Mauris tempor tellus id leo malesuada interdum.
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
    
  </div>
</div>
	</div>