<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    
    <% @carousel_items.each_with_index do |item,index| %>
      <% if index==0 %>
        <div class="item active">
      <% else %>
        <div class="item">
      <% end %>
      <%= image_tag item.asset %>
      <div class="carousel-caption">
        <p><%= item.caption %></p>
      </div>
    </div>
    <% end %>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->