<div class="row-fluid">
  <h3 class="pull-left">My Catalog of All Artworks</h3>
  <div class="actions pull-right">
    <%= link_to "New Artwork", new_artwork_path, :class => 'btn btn-success' %>
  </div>
</div>
<br />
<br />
<form>  
	<%= render 'catalog' %>
</form>  
