<h2 class="page-title">My Catalog of All Artworks</h2>
<%= link_to "<i class=\"icon-picture icon-remove text-right\"></i>New Artwork".html_safe, new_artwork_path, :class => 'btn btn-success' %>
<br />
<br />
<form>  
	<%= render 'catalog' %>
</form>  

</script>