<h2 class="page-title">My Catalog of All Artworks</h2>
<%= link_to "+<i class=\"icon-picture icon-remove text-success text-right\"></i>New Artwork".html_safe, new_artwork_path %>
<form>  
  <%= render 'catalog' %>
</form>  