        
        <script src="glisse.js"></script>
        <div class="container gallery">
            <h2 class="page-title">Art Gallery</h2>

<!-- <img class="pics" src="thumb.jpg" data-glisse-big="big.jpg"/> -->
            <ul class="thumbnails">
                  <li class="span3"> <!-- need id of model -->
                    <!-- This was a crazy little string-interpolation puzzle-->
                          <%= image_tag "prettyphoto/pics/1.jpg", class: "thumbnail pics", alt: "", :data => { :'glisse-big' => "/assets/prettyphoto/pics/1.jpg" } %>
                      </a>
                  </li>

                

            </ul><!--end thumbnails -->


            <footer>
                <p>&copy; Tsiranktonakis 2013 <span class="pull-right credits"><a>mtsiran@hubar.com</a><a>(203) 961-8413</a></span></p>
            </footer>

        </div> <!-- /container -->


<script>
$(function () {
    $('.pics').glisse({
        changeSpeed: 550, 
        speed: 500,
        effect:'bounce',
        fullscreen: true
    }); 
});
</script>